@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary {
  background-color: #519b4d;
}
.text-primary {
  color: #519b4d;
}
.bg-search {
  background-color: #f9f6f1;
}
.cs-bg-none {
  background-color: none;
}
