@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  padding: 0px;
  margin: 0px;
}
.rounded-100-percent {
  border-radius: 100%;
}
.bg-primary {
  background-color: #519b4d;
}
.text-primary {
  color: #519b4d;
}
.bg-secondary {
  background-color: var(--footer-text-color);
}
.bg-search {
  background-color: #f9f6f1;
}
.cs-bg-none {
  background-color: none;
}
:root {
  --footer-text-color: #666666;
}
.footer-text-color {
  color: var(--footer-text-color) !important;
}
.ul-in-footer-middle li {
  margin-top: 22px;
}
.facebook-icon-background {
  background-color: #3b5998;
}
.instagram-icon-background {
  background: linear-gradient(
    45deg,
    #f09433,
    #e6683c,
    #dc2743,
    #cc2366,
    #bc1888
  );
}
.twitter-icon-background {
  background-color: #00aced;
}
.linkedin-icon-background {
  background-color: #0a66c2;
}
.ul-in-footer-bottom li {
  margin-left: 20px;
}
.courousal-img-div-height {
  height: 650px;
}
/* home body styling start espically the HalfcontentPic */
.h-500-px {
  height: 800px;
}
.h-550-px {
  height: 550px;
}
.home-video-h {
  height: 600px;
}
.h-600-px {
  height: 600px;
}
/* div size of the images with text in the home file */
.w-650-px {
  width: 650px;
}
.w-250-px {
  width: 250px;
}
/* Animation of the courousal element */
.courousal-animation-start {
  animation-name: courousalStart;
  animation-duration: 2s;
}
.courousal-animation-end {
  animation-name: courousalEnd;
  animation-duration: 3s;
  animation-delay: 2s;
}
.gitHubLink li {
  border: 2px solid rgba(128, 128, 128, 0.253);
  margin-bottom: 10px;
  border-radius: 10px;
  margin-left: 10px;
  font-weight: 600;
}
.gitHubLink li a {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.gitHubLink li:hover {
  background-color: rgba(128, 128, 128, 0.453);
}

@keyframes courousalStart {
  from {
    margin-left: 1800px;
  }
  to {
    margin-left: 0px;
  }
}

/* ProductListSmallPicCourousla the code is below */
.h-499-px {
  height: 500px;
}

@keyframes courousalEnd {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: -1800px;
  }
}
